@model IEnumerable<ActorIndexVM>

@{
    ViewData["Title"] = "All Actors";
}

<div class="container">
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info">
            @ViewBag.Message
        </div>
    }
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-info">
            @TempData["Message"]
        </div>
    }
    <div class="row p-1">
        <div class="col-md-12">
            <h3>All Actors</h3>
        </div>
    </div>
    <div class="row p-1">
        <div class="col-md-8">
            <a asp-controller="Actor" asp-action="Create" class="btn btn-primary me-2">Add New Actor</a>
            <a asp-controller="Biography" asp-action="Add" class="btn btn-success me-2">Add Biography</a>
            <a asp-controller="Actor" asp-action="Index" class="btn btn-info">View All</a>
        </div>
    </div>
    <div class="row p-1">
        <div class="col-md-12">
            <table id="actorsTable" class="table table-striped table-bordered table-success table-responsive">
                <thead>
                    <tr>
                        <th>
                            <label asp-for="@Model.First().FirstName"></label>
                        </th>
                        <th>
                            <label asp-for="@Model.First().LastName"></label>
                        </th>
                        <th>
                            <label asp-for="@Model.First().DateOfBirth"></label>
                        </th>
                        <th>
                            <label asp-for="@Model.First().Gender"></label>
                        </th>
                        <th>
                            <label asp-for="@Model.First().Email"></label>
                        </th>
                        <th>
                            <label asp-for="@Model.First().IsActive"></label>
                        </th>
                        <th>
                            <label asp-for="@Model.First().Address"></label>
                        </th>
                        <th>
                            <label>Image</label>
                        </th>
                        <th>
                            <label>Download Biography</label>
                        </th>
                        <th>
                            <label>All Images</label>
                        </th>
                        <th>
                            <label>Edit</label>
                        </th>
                        <th>
                            <label>Details</label>
                        </th>
                        <th>
                            <label>Delete</label>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <span asp-for="@item.FirstName">@item.FirstName</span>
                            </td>
                            <td>
                                <span asp-for="@item.LastName">@item.LastName</span>
                            </td>
                            <td>
                                <span asp-for="@item.DateOfBirth">@item.DateOfBirth.ToShortDateString()</span>
                            </td>
                            <td>
                                <span asp-for="@item.Gender">@item.Gender</span>
                            </td>
                            <td>
                                <span asp-for="@item.Email">@item.Email</span>
                            </td>
                            <td>
                                <span asp-for="@item.IsActive">@(item.IsActive ? "Yes" : "No")</span>
                            </td>
                            <td>
                                <span asp-for="@item.Address">@item.Address</span>
                            </td>
                            <td>
                                <img src="~/images-actors/@item.ImageName" asp-append-version="true" style="width:60px;" />
                            </td>
                            <td>
                                @if (!string.IsNullOrEmpty(item?.Biography?.DescriptionFileName))
                                {
                                    <a asp-controller="Actor" asp-action="DownloadBiography" asp-route-fileName="@item.Biography.DescriptionFileName" class="btn btn-info" title="Download Biography">
                                        <i class="bi bi-cloud-arrow-down"></i>
                                    </a>
                                }
                                else
                                {
                                    <span>No file</span>
                                }
                            </td>
                            <td>
                                <a class="btn btn-outline-info" title="View all @item.FirstName photo" onclick="viewActorImages('@item.Email')">View</a>
                            </td>
                            <td>
                                <a asp-controller="Actor" asp-action="Edit" asp-route-email="@item.Email" class="btn btn-success me-1" title="Edit">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            </td>
                            <td>
                                <a asp-controller="Actor" asp-action="Details" asp-route-email="@item.Email" class="btn btn-info me-1" title="Details">
                                    <i class="bi bi-info-square"></i>
                                </a>
                            </td>
                            <td>
                                <a asp-controller="Actor" asp-action="Delete" asp-route-email="@item.Email" class="btn btn-danger" title="Delete" onclick="return confirm('Are you sure, you want to delete this actor @item.FirstName')">
                                    <i class="bi bi-trash3"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row p-1">
        <div id="actorImagesContainer" class="container mt-4"></div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#actorsTable').DataTable({
                "columnDefs": [
                    { "orderable": false, "targets": [7, 8, 9, 10, 11, 12] }
                ]                 
            });
        });

        function viewActorImages(email) {
            $.ajax({
                url: '/Actor/GetActorImagesPartial',
                type: 'GET',
                data: { email: email },
                success: function (response) {
                    $('#actorImagesContainer').html(response);
                    $('html, body').animate({
                        scrollTop: $('#actorImagesContainer').offset().top
                    }, 500);
                },
                error: function () {
                    alert('Error fetching actor images. Please try again.');
                }
            });
        }
    </script>
}


